In [1]:
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
import time

<h1> WEB Scraping

In [2]:
#Customize Chrome Display
chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')

chrome_service = Service('chromedriver.exe')
driver = webdriver.Chrome(service=chrome_service, options=chrome_options)

#Link
url = "https://shopee.co.id/adidasindonesia"
driver.get(url)
content = driver.page_source

In [3]:
data = BeautifulSoup(content, 'html.parser')

In [4]:
#Product Name
product_name = data.find_all('div', class_="_16lgia _3UdQUf _3Q4n5M")
product_name[0].get_text()

'adidas RUNNING Sepatu Ultraboost 20 FV8319'

In [5]:
#Product Currency
product_currency = data.find_all('span', class_="XpPXqD")
product_currency[0].get_text()

'Rp'

In [6]:
#Product Price
product_price = data.find_all('span', class_="_2Ul3BO")
product_price[0].get_text()

'1.500.000'

In [7]:
#Product Sold Out
product_sold = data.find_all('div', class_="_36z98S _2uoHuo")
product_sold[0].get_text()

'17 Terjual'

In [8]:
#Looping
product_name, product_currency, product_price, product_sold = [], [], [], []

#Product Name
for i in data.find_all('div', class_="_16lgia _3UdQUf _3Q4n5M"):
    product_name.append(i.text)

#Product Currency
for i in data.find_all('span', class_="XpPXqD"):
    product_currency.append(i.text)

#Product Price
for i in data.find_all('span', class_="_2Ul3BO"):
    product_price.append(i.text)

#Product Sold Out
for i in data.find_all('div', class_="_36z98S _2uoHuo"):
    product_sold.append(i.text)

In [9]:
len(product_name)

54

In [10]:
product_name

['adidas RUNNING Sepatu Ultraboost 20 FV8319',
 'adidas ORIGINALS ZX 2K Boost Pure Shoes Sneaker H06568',
 'adidas RUNNING Galaxar Run Shoes FW1187',
 'adidas RUNNING Sepatu Run Falcon 2.0 FY5943',
 'adidas ORIGINALS Sepatu Swift Run Sneaker B37725',
 'adidas SKATEBOARDING Sepatu Daily 3.0 FW7033',
 'adidas FOOTBALL/SOCCER Argentina Away Jersey Biru GE5473',
 'adidas FOOTBALL/SOCCER Jersey Manchester United Home 20/21 Pria Merah GC7958',
 'adidas RUNNING Own the Run T-Shirt Pria Hitam FS9799',
 'adidas ORIGINALS Hoodie Love Unites (Uniseks) H43970',
 'adidas ORIGINALS Track Top Colorblock adidas SPRT Pria Abu-abu H06765',
 'adidas FOOTBALL/SOCCER Real Madrid Graphic Track Top Pria Hitam GL0040',
 'adidas RUNNING Sepatu Cloudfoam Pure 2.0 GV7307',
 'adidas RUNNING Sepatu Climacool Ventania FZ1744',
 'adidas RUNNING Sepatu Pureboost 21 GY5111',
 'adidas RUNNING Sepatu X9000L3 HEAT.RDY Putih FY0802',
 'adidas RUNNING Sepatu Run Falcon 2.0 FY5946',
 'adidas RUNNING Ultraboost 5.0 DNA Shoes GZ0446',
 'adidas ORIGINALS R.Y.V. Windbreaker GN4285',
 'adidas RUNNING T-Shirt Primeknit GK3754',
 'adidas ORIGINALS Track Pants Primeblue SST GD2361',
 'adidas ORIGINALS Playsuit Adicolor Classics H37784',
 'adidas Hoodie Full-Zip Logo Essentials Kecil GR9606',
 'adidas Sweatshirt Crew adidas Sportswear X-City GT9753',
 'adidas TENNIS Grand Court Base Shoes EE7968',
 'adidas RUNNING Sepatu Duramo SL FW7391',
 'adidas RUNNING Sepatu Duramo SL GV7124',
 'adidas TENNIS Sepatu Breaknet Court Lifestyle GX7213',
 'adidas BASKETBALL Sepatu Entrap Pria Putih FZ1119',
 'adidas RUNNING Sepatu Galaxy 6 Biru GW4145',
 'adidas RUNNING Sepatu Showtheway 2.0 GY6347',
 'adidas RUNNING Sepatu Showtheway 2.0 Unisex Hitam GY6348',
 'adidas TENNIS Sepatu Grand Court Cloudfoam Lifestyle Court Comfort GW9195',
 'adidas SWIM Slides Adilette Aqua GX4277',
 'adidas RUNNING Sepatu Galaxy 6 GW4146',
 'adidas TRAINING Tas Ransel Sport Pad HT2450',
 'adidas TENNIS Sepatu Grand Court Cloudfoam Lifestyle Court Comfort Pria Hitam GW9196',
 'adidas TENNIS Sepatu Lifestyle Court Comfort Style Grand Court Alpha Cloudfoam GY7118',
 'adidas RUNNING Sepatu Galaxy 6 GW3848',
 'adidas ORIGINALS Sepatu Forum Bold Sneaker FY9042',
 'adidas RUNNING Sepatu EQ21 Run Abu-abu H00519',
 'adidas RUNNING EQ19 Run Shoes H02040',
 'adidas ORIGINALS SUPERSTAR SHOES Sneaker EG4959',
 'adidas RUNNING Sepatu Showtheway 2.0 GY4702',
 'adidas Classic Badge of Sport Backpack H34809',
 'adidas Must Haves 3-Stripes Windbreaker GF3962',
 'adidas TENNIS Sepatu Advantage GZ5300',
 'adidas RUNNING Sepatu Ultraboost 4.0 DNA FY9319',
 'adidas ORIGINALS Sepatu Treziod 2 Hijau Sneaker GY0045',
 'adidas RUNNING Sepatu Galaxy 6 GW4138',
 'adidas ORIGINALS Superstar Shoes Sneaker EF5398',
 'adidas Essentials Camouflage Print T-Shirt GV5237',
 'adidas ORIGINALS Track Jacket Adicolor Classics Firebird GN3521',
 'adidas TENNIS Sepatu Grand Court SE FW3277']

In [11]:
#Page
product_name, product_currency, product_price, product_sold = [], [], [], []

for page in range(0, 4):
    url = 'https://shopee.co.id/adidasindonesia?page={}&sortBy=pop'.format(page)
    driver.get(url)

    #Product Name
    for i in data.find_all('div', class_="_16lgia _3UdQUf _3Q4n5M"):
        product_name.append(i.text)

    #Product Currency
    for i in data.find_all('span', class_="XpPXqD"):
        product_currency.append(i.text)

    #Product Price
    for i in data.find_all('span', class_="_2Ul3BO"):
        product_price.append(i.text)

    #Product Sold Out
    for i in data.find_all('div', class_="_36z98S _2uoHuo"):
        product_sold.append(i.text)

In [12]:
len(product_name)

216

In [13]:
#Saving Data
column = ['product_name', 'product_currency', 'product_price', 'product_sold']
dictionary = dict(zip(column, (product_name, product_currency, product_price, product_sold)))

In [14]:
#Convert to DataFrame
df = pd.DataFrame(data = dictionary)
df.head()

,product_name,product_currency,product_price,product_sold
0,adidas RUNNING Sepatu Ultraboost 20 FV8319,Rp,1.500.000,17 Terjual
1,adidas ORIGINALS ZX 2K Boost Pure Shoes Sneake...,Rp,1.650.000,165 Terjual
2,adidas RUNNING Galaxar Run Shoes FW1187,Rp,1.300.000,109 Terjual
3,adidas RUNNING Sepatu Run Falcon 2.0 FY5943,Rp,850.000,650 Terjual
4,adidas ORIGINALS Sepatu Swift Run Sneaker B37725,Rp,750.000,96 Terjual

In [16]:
df.to_csv('adidas_data.csv', index=False)